* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f0f3f5;
}
.main-container {
  width: 100%;
  height: 100%;
  background-color: #f0f3f5;
  font-family: sans-serif;
}
nav {
  width: 100%;
  height: 56px;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-between;
  align-content: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav ul {
  list-style: none;
  display: flex;
  gap: 5px;
}
.nav-left,
.nav-center,
.nav-right {
  display: flex;
  align-items: center;
  gap: 5px;
}

.fb-logo {
  align-self: center;
  font-size: 40px;
  color: #1877f2;
}

nav abbr {
  text-decoration: none;
  cursor: pointer;
  position: relative;
}
nav a {
  outline: none;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.fa-magnifying-glass {
  font-size: 14px;
  color: #757575;
}
.Search:focus-within {
  box-shadow: 0 0 0 2px #1877f2;
}
.search input:focus {
  outline: none;
}

.Search {
  width: 240px;
  height: 40px;
  padding: 10px 10px;
  background-color: #f0f3f5;
  border-radius: 20px;
  margin: 10px 0;
  align-self: center;
}
.search input {
  border: none;
  background-color: #f0f2f5;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.nav-center li {
  height: 50px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.nav-center li:hover {
  height: 50px;
  width: 120px;
  color: black;
  background-color: #e4e6eb;
}
.nav-center li:active {
  border-bottom: 3px solid #1877f2;
  border-radius: 10px 10px 0 0;
}
.nav-center div:focus {
  color: black;
}
.nav-center div:hover {
  color: black;
}
.nav-center div {
  font-size: 24px;
  font-weight: 500;
  color: #757575;
}
.Home {
  border-bottom: 3px solid rgb(24, 119, 242);
  border-radius: 0px;
}
.nav-right li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f3f5;
}
.nav-right div {
  font-size: 24px;
  font-weight: 900;
  color: #000000;
  cursor: pointer;
}

nav img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background-position: 150% 150%;
}
.nav-right li:hover {
  background-color: #e4e6eb;
}
@media (max-width: 1100px) {
  .Search input {
    display: none;
  }
  .Search {
    width: 40px;
    padding: 10px 0px;
    text-align: center;
  }
}
@media (max-width: 900px) {
  .nav-center {
    display: none;
  }
}
main {
  margin-top: 40px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.main-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 25%;
  height: 90vh;
  position: fixed;
  left: 0px;
  top:60px;
  overflow-x: auto;
  overflow-y: none;
scrollbar-width: none;
}
.links-section {
  margin: 0 10px;
  width: 100%;
  border-bottom: 1px solid #333;
}
.links-section div:hover {
  background: #e4e6e9;
}

.main-left div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 5px;
  padding: 8px;
  gap: 10px;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
}
.main-left i,
img {
  margin-right: 12px;
}
.main-left a {
  text-decoration: none;
  color: #080809;
  font-size: 15px;
}
.Profile img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 10px;
}

.main-center {
  width: 50%;
  height: 100vh;
}
.main-right {
  width: 25%;
  height: 100vh;
}

/* HOVER EFFECT (FB STYLE) */

/* PROFILE ITEM SPECIAL */
/* .Profile {
  font-weight: 600;
}
.Profile img {
  border-radius: 50%;
} */

/* Section Title
.main-left section h1 {
  margin: 15px 10px;
  font-size: 18px;
  color: #65676b;
  font-weight: 600;
} */
body {
  font-family: Arial, sans-serif;
  background: #ececec;
  padding: 20px;
}
.card {
  width: 420px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  margin: auto;
}
.card-header {
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.card-header img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.name {
  font-weight: bold;
  font-size: 16px;
}
.time {
  color: gray;
  font-size: 13px;
}
.card-content img {
  width: 100%;
  display: block;
}
.hashtags {
  padding: 10px 15px;
  color: #1877f2;
  font-size: 14px;
}
.card-footer {
  padding: 10px 15px;
  color: #555;
  font-size: 14px;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}
