* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f0f3f5;
}
.main-container {
  width: 100%;
  height: 100%;
  background-color: #f0f3f5;
  font-family: sans-serif;
}
nav {
  width: 100%;
  height: 56px;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-between;
  align-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 10px 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav ul {
  list-style: none;
  display: flex;
  gap: 5px;
}
.nav-left,
.nav-center,
.nav-right {
  display: flex;
  align-items: center;
  gap: 5px;
}

.fb-logo {
  align-self: center;
  font-size: 40px;
  color: #0866ff;
  cursor: pointer;
}

nav abbr {
  text-decoration: none;
  cursor: pointer;
  position: relative;
}
abbr:hover::after {
  content: attr(data-title);
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  color: #fff;
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 6px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s ease;
}
abbr:hover::after {
  opacity: 1;
  visibility: visible;
}
nav a {
  outline: none;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.fa-magnifying-glass {
  font-size: 14px;
  color: #757575;
}
.Search:focus-within {
  box-shadow: 0 0 0 2px #0866ff;
}
.search input:focus {
  outline: none;
}

.Search {
  width: 240px;
  height: 40px;
  padding: 10px 10px;
  background-color: #f0f3f5;
  border-radius: 20px;
  margin: 10px 0;
  align-self: center;
}
.search input {
  border: none;
  background-color: #f0f2f5;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.nav-center div,
.nav-center i {
  height: 52px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0 0;
}
.user {
  border: 2px solid #757575;
  border-radius: 50%;
  stroke-width: 10;
  stroke: #757575;
}
.nav-center div:hover {
  height: 52px;
  width: 120px;
  border-radius: 10px 10px 0 0;
  background-color: #f3f5fa;
}
.nav-center div:active {
  background-color: #e4e6e9;
  border-bottom: 3px solid #0866ff;
  color: #0866ff;
  border-radius: 10px 10px 0 0;
}
.user:active {
  border-color: #0866ff;
  stroke: #0866ff;
}
.nav-center div {
  font-size: 24px;
  font-weight: 500;
  color: #757575;
}
.Home div {
  border-bottom: 3px solid #0866ff;
  border-radius: 10px 10px 0 0;
}
.nav-right li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f3f5;
}
.nav-right div {
  font-size: 24px;
  font-weight: 900;
  color: #000000;
  cursor: pointer;
}
.profile-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav img {
  position: absolute;
  left: -20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background-position: 150% 150%;
}
.profile-image i {
  color: #000;
  font-size: 10px;
  height: 15px;
  width: 15px;
  background-color: #e4e6e9;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 10px;
  z-index: 2;
}
.profile-image span {
  height: 15px;
  width: 15px;
  position: absolute;
  bottom: 6px;
  left: 5px;
  background-color: #dd2334;
  border: 2px solid white;
  border-radius: 50%;
}
.nav-right li:hover {
  background-color: #e4e6eb;
}

main {
  margin-top: 40px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.main-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 22%;
  height: 93vh;
  position: fixed;
  left: 0px;
  top: 60px;
  overflow-y: auto;
}

.main-left::-webkit-scrollbar {
  width: 8px;
}

.main-left::-webkit-scrollbar-track {
  background: transparent;
}

.main-left::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.links-section {
  width: 98%;
}
.main-left > .links-section div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 0 5px;
  padding: 8px 0 8px 8px;
  gap: 10px;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
}
.links-section div:hover {
  background: #e4e6e9;
}
.shortcut {
  margin: 0 10px;
  width: 75%;
  border-top: 1px solid #555555;
}
.shortcut div {
  margin: 10px 0 0 0;
}
.shortcut span {
  font-size: 16px;
  font-weight: 900;
  margin: 10px 0;
  color: #555;
}

.main-left i,
img {
  margin-right: 12px;
}
.main-left a {
  text-decoration: none;
  color: #080809;
  font-size: 15px;
}
.Profile img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 10px;
}

.main-center {
  width: 50%;
  height: 100vh;
  position: absolute;
  top: 60px;
  left: 25%;
  z-index: 0;
  padding: 0 3%;
}
.center-top {
  width: 100%;
  height: 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  margin: 15px 0;
}
.create-post {
  display: flex;
  align-items: center;
  width: 100%;
}
.center-top img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.center-top input {
  width: 100%;
  height: 40px;
  font-size: large;
  border: none;
  border-radius: 20px;
  background-color: #f0f2f5;
  padding: 0 15px;
  font-size: 14px;
}
.center-top input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #0866ff;
}
.center-top > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.post-options div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  padding: 6px;
  font-size: 24px;
  cursor: pointer;
  position: relative;
}
.fa-video {
  font-size: 24px;
  color: #f3425f;
}
.fa-photo-film {
  font-size: 24px;
  color: #45bd62;
}
.fa-face-smile {
  font-size: 24px;
  color: #f7b928;
}
.post-options div:hover {
  background-color: #f1f4f8;
  border-radius: 10px;
}

.post-options div::after {
  content: attr(data-title);
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  color: #fff;
  font-size: 12px;
  padding: 6px 10px;
  border-radius: 6px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease;
  z-index: 1;
}
.post-options div:hover::after {
  opacity: 1;
  visibility: visible;
}

.stories {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
}
.stories ul {
  display: flex;
}
.create-story {
  width: 115px;
  height: 200px;
  background-image: url(./pics/profile-img.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  flex-grow: 1;
}
.plus {
  width: 40px;
  height: 40px;
  background-color: #0866ff;
  color: #fff;
  font-size: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 75%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -60%);
  border: 4px solid #fff;
}
.create-text {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 0 10px 0;
  width: 100%;
  height: 25%;
  border-radius: 0 0 10px 10px;
  font-size: 14px;
  background-color: white;
  font-weight: bold;
  color: #000;
}
.story {
  width: 115px;
  height: 200px;
  background-image: url(./pics/story1.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
  flex-grow: 1;
}
.story img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 3px solid #0866ff;
  position: absolute;
  top: 10px;
  left: 10px;
}
.story-name {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-shadow: 1px 1px 2px black;
}
.story-2 {
  background-image: url(./pics/story2.jpg);
  background-repeat: no-repeat;
}
.story-3 {
  background-image: url(./pics/story3.jpg);
  background-repeat: no-repeat;
}
.story-4 {
  background-image: url(./pics/story4.jpg);
  background-repeat: no-repeat;
}
.story-5 {
  background-image: url(./pics/story5.jfif);
  background-repeat: no-repeat;
}
.story-6 {
  background-image: url(./pics/story6.jfif);
  background-repeat: no-repeat;
}
.card {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  margin: 15px 0;
}
.card-header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.profile-info {
  display: flex;
  align-items: center;
}
.card-header img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.name {
  font-weight: bold;
  font-size: 16px;
}
.time {
  color: gray;
  font-size: 13px;
}
.card-header-icons i {
  font-size: 18px;
  color: #555;
  margin-left: 10px;
  cursor: pointer;
}
.card-content img,
.card-content video {
  width: 100%;
  display: block;
  height: 70vh;
}
.hashtags {
  padding: 10px 15px;
  color: #1877f2;
  font-size: 14px;
}
.card-footer {
  padding: 10px 15px;
  color: #555;
  font-size: 14px;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-footer div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.card-footer i {
  font-size: 20px;
  cursor: pointer;
}
.card-footer span {
  font-weight: 900;
}
.main-right {
  width: 22%;
  height: 95vh;

  position: fixed;
  top: 60px;
  right: 8px;
  overflow: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.Contact {
  width: 168px;
  color: #65686c;
  font-weight: 900;
}
.header-manu {
  display: flex;
  position: relative;
  cursor: pointer;
}

.header-manu div:hover:after {
  content: attr(data-title);
  position: absolute;
  bottom: -35px;
  right: -50%;
  z-index: 1;
  transform: translateX(-50%);
  background: #333;
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 6px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease;
}

.header-manu div:hover::after {
  opacity: 1;
  visibility: visible;
}
.header-manu div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  color: #65686c;
  margin: 0 4px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.chats {
  padding: 10px 0;
}
.header-manu div:hover {
  align-items: center;
  text-align: center;
  font-size: large;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: #e4e6e9;
}
.chats-contact {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}
.contact-name {
  height: 45px;
  width: 45px;
  position: relative;
  display: flex;
  align-items: center;
}
.contact-name img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.contact-name span {
  position: absolute;
  bottom: 4px;
  right: 6px;
  background-color: #45bd62;
  height: 12px;
  width: 12px;
  border: 2px solid white;
  border-radius: 50%;
}
.chats-contact:hover {
  background-color: #e4e6e9;
}
.main-right::-webkit-scrollbar {
  width: 8px;
}

.main-right::-webkit-scrollbar-track {
  background: transparent;
}

.main-right::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

@media (max-width: 1100px) {
  .Search input {
    display: none;
  }
  .Search {
    width: 40px;
    padding: 10px 0px;
    text-align: center;
  }
  .nav-center li {
    width: 80px;
    justify-content: space-around;
  }
  .main-left {
    display: none;
  }
  .main-center {
    width: 75%;
    left: 0;
  }
}
@media (max-width: 700px) {
  .nav-center {
    display: none;
  }
  .main-right {
    display: none;
    justify-content: center;
  }
  .main-center {
    width: 100%;
  }
}
